<% include ./partials/header %>



<div class="slider">
    
    <div class="slides">
    

               
        <div class="slide" id="box-1"></div>
        
    
        <div class="slide" id="box-2"></div>
        
     <div class="slide" id="box-3"></div>
        
        <div class="slide" id="box-4"></div>
        
        </div>
    
    
    
    </div>
    








<% include ./partials/footer %>