html, body{
    
    
    height: 100%;
}



.navbar-default {
    
    
    background: #fff;
    

    
    margin-bottom: 0px;
}

/*
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    
    min-height: 83px;
}
*/

/*
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    
    min-height: 83px;
}
*/

/*
.navbar-collapse.in{
    
    overflow-y: visible;
}
*/

/*
.navbar-toggle {
    
    margin-top: 30px;
}
*/
.navbar-default .navbar-nav>li>a {
    
    
    color:#3e3d49;
}


.navbar-default .navbar-nav>li>a:hover{
    color:#cfbb3f;
}


.navbar-default .navbar-nav>.active>a{
    
    background: #fff;
    color:#cfbb3f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    
    background: #fff;
    color:#cfbb3f;
}


/*
.navbar>.container-fluid .navbar-brand {
    
    padding-top: 2px;
}

.navbar-right{
    
    margin-top:30px;
}
*/

/*
#brand-name{
    
    position: relative;
    margin-left:10px;
    top: 10px;
    font-weight: 900;
    font-size: 1.0em;
}
*/


.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    
    width:100%;
    height: 100%;
    margin-top:0px;
    opacity:0.9;
    
}

.carousel,.item,.active{height:100%;}

.carousel-inner{height:100%;}

.carousel-indicators{
    
    bottom:30px;
}


.ui.dropdown{
    
    margin-top:14.5px;
}



.ui.dropdown a{
    display: inline-block;
    color:black;
    width:100%;
    height: auto;
}

.ui.dropdown a:hover{
    
    color:#cfbb3f;
    
}
.hower {
    
    color:#cfbb3f;
}


#jumbotron-landing  {
    
    
    position:absolute;
    
   
    margin: 0 auto;
    background-color: transparent;
    
    text-align: center;
    top: 31%;
    left:15%;
    color: #F5F2F7;
   

;
}

#jumbotron-landing .caption {
    
    text-shadow:  2px 1px 10px black;
}

#jumbotron-landing>p{
 text-shadow:     3px 3px 15px black;

}